/* General CSS */

/* Styles the buttons on the page */
button {
  background-color: #243513;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* App.js CSS */

/* Styles main contents of App.js */
#mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Styles nav container that holds navigation items */
#topNav {
  display: flex;
  flex-direction: row;
  background-color: #ffa500;
  border-radius: 5px;
}

/* Styles the navigation items */
h3 {
  margin: 10px 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #243513;
}

/* Styles container holding info section, map itself, and move buttons(N,E,S,W) */
#centerContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#info-section{
  border: 2px solid gray;
  background-color: green;
  color: white;
  border-radius: 5px;
}

/* GameButtons.js CSS */

/* Styles the Start a Game, Guess a Spot, and I Give Up! buttons container */
#game-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  margin-top: 20px;
}

/* MoveButtons.js CSS */

/* Styling for move buttons container */
#move-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
